.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-family: "PolySansSlim";
}

/* TODO: For better responsiveness use relative size instead of pixels. */

.btn.disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: var(--light-grey-color);
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
  color: white;
}

.primary.outlined {
  border: var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}

.secondary.outlined {
  border: var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
}

.tertiary.outlined {
  border: var(--tertiary-color);
  background-color: white;
  color: var(--tertiary-color);
}

.large {
  padding: 12px 24px;
  font-size: 18px;
  line-height: 28px;
}
