.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.btn.disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}

.btn-primary.outlined {
  border: var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}
.large {
  padding: 12px 24px;
  font-size: 18px;
  line-height: 28px;
}
