<button
  [type]="type"
  class="btn {{customStyle}}"
  [ngClass]="{
    disabled: disabled,
    'large':large,
  }"
  [disabled]="disabled"
  (click)="handleClick()"
>
  <ng-container *ngIf="hasIcon && iconPos == 'left'">
    <mat-icon *ngIf="matIcon">{{ matIcon }}</mat-icon>
    <img
      class="svg-icon"
      *ngIf="svgIcon"
      src="{{ svgIcon }}"
      alt="{{ iconDescription }}"
    />
  </ng-container>

  <h4>{{ label }}</h4>

  <ng-container *ngIf="hasIcon && iconPos == 'right'">
    <mat-icon *ngIf="matIcon">{{ matIcon }}</mat-icon>
    <img
      class="svg-icon"
      *ngIf="svgIcon"
      src="{{ svgIcon }}"
      alt="{{ iconDescription }}"
    />
  </ng-container>
</button>
