.container {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

.left-side,
.right-side {
  display: grid;
}

.left-side {
  grid-template-rows: repeat(3, 1fr);
}

.right-side {
  background-image: url("../../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px 24px 24px 0;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 10%;
  gap: 24px;
}

.break-text {
  white-space: nowrap;
}

.connections-label {
  font-size: 18px;
  color: #26272b;
  font-family: "PolySansSlim";
}

.close-icon {
  position: fixed;
  top: 24px;
  right: 24px;
  font-size: 30px;
  color: white;
}

.signup-progress-indicator {
  justify-self: end;
  align-self: center;
  padding-right: 48px;
}

.actions {
  gap: 12px;
}

.guided-flow {
  align-self: end;
}

.logo {
  position: relative;
  top: 24px;
  left: 24px;
}

@media (max-width: 480px) {
  .left-side {
    grid-template-rows: repeat(3, auto);
  }

  .form-wrapper {
    padding: 0 24px;
  }
  
  .connections-buttons {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 100%;
  }
  .close-icon {
    color: var(--primary-color);
  }

  .right-side {
    display: none;
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}
