<div class="container" #signupContainer [@enterAnimation]>
  <mat-icon class="close-icon pointer animate" (click)="handleCloseIcon()"
    >close</mat-icon
  >
  <div class="left-side">
    <div class="logo-wrapper animate">
      <img src="assets/images/shelter-logo.png" alt="Logo" class="logo" />
    </div>
    <div class="form-wrapper flex">
      <div class="form-header animate">
        <h2
          class="title"
          [innerHTML]="
            screenWidth < 480
              ? 'Choose Your <br /> Preferred Way <br /> To Create An Account'
              : 'Choose Your Preferred Way <br /> To Create An Account'
          "
        ></h2>
      </div>
      <div class="email-wrapper animate">
        <app-input
          label="Email Address"
          placeholder="hello@broker.com"
          [invalid]="invalidEmail"
          (valueChange)="handleEmailInput($event)"
        ></app-input>
      </div>
      <div class="connections flex-column gap-12 animate">
        <span class="connections-label" style="color: #26272b"
          >Or Create An Account With</span
        >
        <div class="connections-buttons flex gap-12 animate">
          <app-button
            label="Microsoft"
            svgIcon="assets/images/microsoft-icon.svg"
            iconDescription="Sign up with Microsoft"
            customStyle="outlined-grey"
            [hasIcon]="true"
            (click)="handleMicrosoftSignup()"
          ></app-button>
          <app-button
            label="Google"
            svgIcon="assets/images/google-icon.svg"
            iconDescription="Sign up with Google"
            customStyle="outlined-grey"
            [hasIcon]="true"
            (click)="handleGoogleSignup()"
          ></app-button>
          <app-button
            label="Slack"
            iconDescription="Sign up with Slack"
            svgIcon="assets/images/slack-icon.svg"
            customStyle="outlined-grey"
            [hasIcon]="true"
            (click)="handleSlackSignup()"
          ></app-button>
        </div>
      </div>
    </div>

    <div class="guided-flow animate">
      <app-signup-bottom-bar
        [currentStep]="currentStep"
        (clickNext)="handleNextStep()"
        (clickBack)="handleGoBack()"
      ></app-signup-bottom-bar>
    </div>
  </div>
  <div class="right-side">
    <app-progress-indicator
      class="signup-progress-indicator animate"
      [vertical]="true"
      [currentStep]="currentStep"
    ></app-progress-indicator>
  </div>
</div>
