<div class="signup-flow flex">
  <div class="buttons-wrapper flex">
    <app-button
      *ngIf="currentStep > 1"
      label="Go Back"
      customStyle="primary outlined"
      (click)="handleGoBack()"
    ></app-button>

    <app-button
      [label]="getButtonLabel(currentStep)"
      customStyle="primary "
      (click)="handleNext()"
    ></app-button>
  </div>

  <app-progress-indicator
    class="progress-indicator"
    [backgroundColor]="'var(--grey-color)'"
    [currentStep]="currentStep"
  ></app-progress-indicator>
</div>
