.input-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "PolySansNeutral";
}

input {
  width: 100%;
  padding: 16px;
  border: 0.7px solid #c9c9ce;
  border-radius: 4px;
  font-size: 16px;
}

input.invalid,
input.invalid::placeholder {
  border-color: red;
  color: red;
}
